# Env
.env
.env.local
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.envrc

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python packaging / build
build/
dist/
*.egg-info/

# Logs
*.log
